Round 4

fit a Random forest Classifier on the data and compare the accuracy.
tune the hyper paramters with gridsearch and check the results.
Managing imbalance in the dataset

Check for the imbalance.
Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
Each time fit the model and see how the accuracy of the model is.

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('DATA_Customer-Churn_magda.csv')

In [38]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [40]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())
#df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

Downsampling:

In [41]:
df[df['Churn']=='No'].shape

(5174, 16)

In [42]:
df[df['Churn']=='Yes'].shape

(1869, 16)

In [43]:
churn_no = df[df['Churn']=='No'].sample(len(df[df['Churn']=='Yes']))
churn_yes = df[df['Churn']=='Yes']

In [44]:
churn_no.shape, churn_yes.shape

((1869, 16), (1869, 16))

In [45]:
df_down = pd.concat([churn_no, churn_yes])

In [46]:
df_down.shape

(3738, 16)

X,y split:

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X = df_down.drop('Churn', axis=1)
y= df_down['Churn']

In [49]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3738 entries, 2249 to 7041
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            3738 non-null   object
 1   SeniorCitizen     3738 non-null   int64
 2   Partner           3738 non-null   object
 3   Dependents        3738 non-null   object
 4   tenure            3738 non-null   int64
 5   PhoneService      3738 non-null   object
 6   OnlineSecurity    3738 non-null   object
 7   OnlineBackup      3738 non-null   object
 8   DeviceProtection  3738 non-null   object
 9   TechSupport       3738 non-null   object
 10  StreamingTV       3738 non-null   object
 11  StreamingMovies   3738 non-null   object
 12  Contract          3738 non-null   object
 13  MonthlyCharges    3738 non-null   float64
 14  TotalCharges      3738 non-null   float64
dtypes: float64(2), int64(2), object(11)
memory usage: 467.2+ KB

In [50]:
import numpy as np
numericalX = X.select_dtypes(np.number)
categoricalX = X.select_dtypes('object')

In [51]:
numericalX

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
2249              0      11           70.50        829.30
1692              0      39           25.25        947.75
6987              1      35          108.35       3726.15
5313              0      56           89.70       4952.95
3257              0      22           93.20       2157.30
...             ...     ...             ...           ...
7021              0      12           59.80        727.80
7026              0       9           44.20        403.35
7032              1       1           75.75         75.75
7034              0      67          102.95       6886.25
7041              1       4           74.40        306.60

[3738 rows x 4 columns]

In [52]:
categoricalX

,gender,Partner,Dependents,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract
2249,Female,No,No,Yes,No,No,No,Yes,Yes,Yes,Month-to-month
1692,Male,Yes,Yes,No,No,No,No,No,No,No,One year
6987,Female,No,No,Yes,Yes,Yes,Yes,No,Yes,Yes,One year
5313,Male,Yes,No,Yes,No,No,No,No,Yes,Yes,Month-to-month
3257,Male,No,No,Yes,No,Yes,No,No,Yes,Yes,Month-to-month
...,...,...,...,...,...,...,...,...,...,...,...
7021,Male,No,No,Yes,No,No,No,Yes,Yes,No,One year
7026,Female,No,No,Yes,No,No,No,No,No,No,Month-to-month
7032,Male,No,No,Yes,No,No,No,No,No,No,Month-to-month
7034,Female,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Month-to-month
7041,Male,Yes,No,Yes,No,No,No,No,No,No,Month-to-month

In [58]:
categoricalX  = pd.get_dummies(categoricalX, drop_first=True)

In [61]:
X = pd.concat([numericalX, categoricalX], axis = 1)

In [62]:
X

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,DeviceProtection_No internet service,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year
2249,0,11,70.50,829.30,0,0,0,1,0,0,...,0,0,0,1,0,1,0,1,0,0
1692,0,39,25.25,947.75,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6987,1,35,108.35,3726.15,0,0,0,1,0,1,...,0,1,0,0,0,1,0,1,1,0
5313,0,56,89.70,4952.95,1,1,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
3257,0,22,93.20,2157.30,1,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7021,0,12,59.80,727.80,1,0,0,1,0,0,...,0,0,0,1,0,1,0,0,1,0
7026,0,9,44.20,403.35,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7032,1,1,75.75,75.75,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7034,0,67,102.95,6886.25,0,0,0,1,0,1,...,0,1,0,0,0,1,0,0,0,0
7041,1,4,74.40,306.60,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=123)

Model: Random Forest

In [65]:
from sklearn.ensemble import RandomForestClassifier

In [71]:
randfor = RandomForestClassifier(max_depth=10,max_features="sqrt",n_estimators=100,
                             bootstrap=True,oob_score=True, random_state=123)
randfor.fit(X_train, y_train)
print(randfor.score(X_train, y_train))
print(randfor.score(X_test, y_test))

0.8896321070234113
0.7713903743315508

In [72]:
from sklearn.model_selection import cross_val_score
cross_val_scores = cross_val_score(randfor, X_train, y_train, cv=5)
print(cross_val_scores,
np.mean(cross_val_scores),
np.std(cross_val_scores))

[0.73411371 0.76588629 0.75919732 0.77591973 0.74916388] 0.7568561872909699 0.014330625609116123

Upsampling

In [73]:
df = pd.read_csv('DATA_Customer-Churn_magda.csv')
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())
numericalX = df.select_dtypes(np.number)
categoricalX = df.select_dtypes('object')
categoricalX  = pd.get_dummies(categoricalX, drop_first=True)
df = pd.concat([numericalX, categoricalX], axis = 1)

In [74]:
df

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
2,0,2,53.85,108.15,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,45,42.30,1840.75,1,0,0,0,0,1,...,1,0,1,0,0,0,0,1,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,1,1,1,1,0,1,...,1,0,1,0,1,0,1,1,0,0
7039,0,72,103.20,7362.90,0,1,1,1,0,0,...,1,0,0,0,1,0,1,1,0,0
7040,0,11,29.60,346.45,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7041,1,4,74.40,306.60,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
7042,0,66,105.65,6844.50,1,0,0,1,0,1,...,1,0,1,0,1,0,1,0,1,0

In [78]:
X = df.drop('Churn_Yes', axis=1)
y= df['Churn_Yes']

In [79]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

0    5174
1    5174
Name: Churn_Yes, dtype: int64

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.2, random_state=123)

In [81]:
randfor_up = RandomForestClassifier(max_depth=10,max_features="sqrt",n_estimators=100,
                             bootstrap=True,oob_score=True, random_state=123)
randfor_up.fit(X_train, y_train)
print(randfor_up.score(X_train, y_train))
print(randfor_up.score(X_test, y_test))

0.8810099057743416
0.8217391304347826

In [82]:
randfor_up.predict_proba(X_test) #predicting the pobability of 0 and 1 of each observation

array([[0.43230666, 0.56769334],
       [0.98069891, 0.01930109],
       [0.82116023, 0.17883977],
       ...,
       [0.57653751, 0.42346249],
       [0.504776  , 0.495224  ],
       [0.99695377, 0.00304623]])

GridSearch:

In [87]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [500, 600],
    'min_samples_split': [2, 4],
    'min_samples_leaf' : [1, 2],
    'max_features': ['sqrt']
    ##'max_samples' : ['None', 0.5],
    ##'max_depth':[3,5,10],
    ## 'bootstrap':[True,False] 
    }

In [88]:
grid_search = GridSearchCV(randfor_up, param_grid, cv=5,return_train_score=True,n_jobs=-1,)

In [89]:
grid_search.fit(X_train,y_train)
grid_search.best_params_ #To check the best set of parameters returned

{'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 500}

In [86]:
pd.DataFrame(grid_search.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_features,param_min_samples_leaf,param_min_samples_split,param_n_estimators,params,split0_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,0.598736,0.019729,0.032781,0.002991,sqrt,1,2,50,"{'max_features': 'sqrt', 'min_samples_leaf': 1...",0.818237,...,0.825200,0.006716,9,0.885080,0.883721,0.883268,0.884644,0.887362,0.884815,0.001427
1,1.221060,0.068231,0.074196,0.014883,sqrt,1,2,100,"{'max_features': 'sqrt', 'min_samples_leaf': 1...",0.823671,...,0.826528,0.005500,5,0.886590,0.885684,0.882513,0.887513,0.887060,0.885872,0.001786
2,6.422346,0.184400,0.320581,0.042350,sqrt,1,2,500,"{'max_features': 'sqrt', 'min_samples_leaf': 1...",0.823671,...,0.828098,0.004583,1,0.888704,0.887949,0.886439,0.888570,0.887815,0.887896,0.000805
3,0.652982,0.056397,0.035716,0.006131,sqrt,1,4,50,"{'max_features': 'sqrt', 'min_samples_leaf': 1...",0.819444,...,0.822178,0.006917,12,0.877378,0.879644,0.877378,0.880266,0.880417,0.879017,0.001362
4,1.191022,0.017794,0.059603,0.007118,sqrt,1,4,100,"{'max_features': 'sqrt', 'min_samples_leaf': 1...",0.826691,...,0.825803,0.006909,6,0.879644,0.880399,0.879342,0.882682,0.882229,0.880859,0.001356
5,6.316702,0.845999,0.329194,0.056427,sqrt,1,4,500,"{'max_features': 'sqrt', 'min_samples_leaf': 1...",0.826087,...,0.827253,0.003971,2,0.882966,0.881607,0.880852,0.880568,0.882078,0.881614,0.000862
6,0.870008,0.101902,0.063589,0.019846,sqrt,2,2,50,"{'max_features': 'sqrt', 'min_samples_leaf': 2...",0.822464,...,0.823265,0.005858,10,0.873603,0.871640,0.871187,0.871810,0.874679,0.872584,0.001332
7,1.452501,0.029595,0.071899,0.008493,sqrt,2,2,100,"{'max_features': 'sqrt', 'min_samples_leaf': 2...",0.821860,...,0.825440,0.005268,7,0.874207,0.873754,0.871187,0.872565,0.875283,0.873399,0.001408
8,6.958666,0.052802,0.348500,0.032328,sqrt,2,2,500,"{'max_features': 'sqrt', 'min_samples_leaf': 2...",0.824879,...,0.827011,0.004010,3,0.878133,0.875264,0.873603,0.873018,0.875585,0.875121,0.001791
9,0.706006,0.032930,0.043583,0.010296,sqrt,2,4,50,"{'max_features': 'sqrt', 'min_samples_leaf': 2...",0.822464,...,0.823265,0.005858,10,0.873603,0.871640,0.871187,0.871810,0.874679,0.872584,0.001332
10,1.374000,0.033511,0.083993,0.012348,sqrt,2,4,100,"{'max_features': 'sqrt', 'min_samples_leaf': 2...",0.821860,...,0.825440,0.005268,7,0.874207,0.873754,0.871187,0.872565,0.875283,0.873399,0.001408
11,6.502594,0.886225,0.292385,0.067073,sqrt,2,4,500,"{'max_features': 'sqrt', 'min_samples_leaf': 2...",0.824879,...,0.827011,0.004010,3,0.878133,0.875264,0.873603,0.873018,0.875585,0.875121,0.001791